.inputField {
  /* margin: 20px 0; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputField .task,
.inputField .description {
  width: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.inputField .task {
  height: 45px;
}

.inputField .description {
  height: 90px;
}

.inputField input:focus {
  border-color: #8e49e8;
}
.inputField button {
  width: 100%;
  height: 100%;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 6px 10px;
  outline: none;
  background: #8e49e8;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.inputField button:disabled,
.inputField button:hover:disabled {
  background-color: grey;
  cursor: default;
}

.inputField button:hover {
  background: #5e0acd;
}
.inputField button.active {
  opacity: 1;
  pointer-events: auto;
}

i {
  font-size: 24px;
}
