<div class="main-container">
  <div class="header-container">
    <button
      type="button"
      class="tab left"
      routerLink="/"
      [style.background-color]="activeLeft ? 'white' : '#e2e0e0'"
      (click)="toggleActiveLeft()"
    >
      TASK BACKLOG
    </button>
    <button
      type="button"
      class="tab right"
      routerLink="/manage-tasks"
      [style.background-color]="activeRight ? 'white' : '#e2e0e0'"
      (click)="toggleActiveRight()"
    >
      TASK MANAGER
    </button>
  </div>

  <router-outlet></router-outlet>
</div>
<app-modal></app-modal>
